.home{
   height: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.home__section1{
   height: 100dvh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.home__section1__pic{
   width: 700px;
   height: 650px;
   object-fit: cover;
   clip-path: path('M234.119 27.2262C333.29 -40.966 382.27 26.6527 406.203 199.362C409.819 390.739 848.95 368.578 567.065 553.661C316.022 690.464 135.002 699.091 18.4282 410.5C-43.8997 272.364 68.6084 167.043 234.119 27.2262Z');
}

.home__section1__background__filter{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.home__section1__textBox{
   width: 48rem;
   height: auto;
   color: #ffff;
}

.p{
   font-size: 3.3rem;
   font-weight: 500;
   line-height: 4rem;
}

.home__section1__btn{
   font-size: 1.2rem;
   margin-top: 1rem;
   background-color: #57CF74;
   border: none;
   height: auto;
   padding: 1rem;
   border-radius: 2rem;
   color: #000;
   font-weight: 400;
   transition-property: all;
   transition-timing-function:ease-in;
   transition-duration: 0.2s;
   cursor: pointer;
}

.home__section1__btn:hover{
   background-color: aqua;
}

.home__section1__h1{
   font-size: 3rem;
   color: #fbfbfb;
}

.home__section1__drpic{
   height: 37rem;
   width: 27rem;
   border-radius: 50%;
}

.skeleton__box{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   background-color: #000;

}

.svg{
   width: auto;
   height: 100%;
}
