* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  background-color: var(--primary-color);
}

body {
  overflow-x: hidden;
  overflow-y: visible;
}

:root {
  --primary-color: #000;
  --secondary-color: #00c4ff;
  --third-color: #075985;
  --fourth-color: #84dfec;
  --fiveth-color: #0b1d3a;
  --sixth-color: #1a1a1a;
  --white-color: #ffff;
  --black-color: #000;
  --header-height: 4.5rem;
  --footer-height: 16rem;
}